@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>
    We've logged this so we can take a look at fixing it. Feel free to click "Feedback" above and use one of those methods to let us know what you were trying to do, as that can help us troubleshoot.
</p>

@if (Model.ShowRequestId)
{
    <p>
        If you're sending feedback, this might help us track something down - <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}