@page
@model IndexModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "The Mini Index";
    Layout = "";
}

@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - The Mini Index</title>

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/images/icons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/icons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/icons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/icons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/images/icons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/images/icons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/images/icons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/images/icons/apple-touch-icon-152x152.png" />

        <link rel="icon" type="image/png" href="~/images/icons/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="~/images/icons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="~/images/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="~/images/icons/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="~/images/icons/favicon-128.png" sizes="128x128" />
    
        <meta name="application-name" content="The Mini Index" />
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="~/images/icons/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="~/images/icons/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="~/images/icons/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="~/images/icons/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="~/images/icons/mstile-310x310.png" />

        <meta property="og:site_name" content="The Mini Index" />
        <meta property="og:image" content="https://theminiindex.com/images/banner.png">
        <meta property="og:title" content="@ViewData["Title"] - The Mini Index" />
        <meta property="og:description" content="The Mini Index is a crowd-sourced index of various minis, terrain tiles, and scatter terrain across different websites for use with tabletop games like Dungeons and Dragons." />
        <meta property="fb:app_id" content="217005809246433" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:image:src" content="https://theminiindex.com/images/banner.png">
        <meta name="twitter:description" content="The Mini Index is a crowd-sourced index of various minis, terrain tiles, and scatter terrain across different websites for use with tabletop games like Dungeons and Dragons." />
        <meta name="twitter:title" content="@ViewData["Title"] - The Mini Index" />

        <environment include="Staging">
            <script type="text/javascript">
                (function(c,l,a,r,i,t,y){
                    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
                })(window, document, "clarity", "script", "9qtfnv49nn");
            </script>
        </environment>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <script type="text/javascript">
            var appInsights = window.appInsights || function (a) {
                function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
            }({
                instrumentationKey: "70f322c0-7e67-4ac4-9b55-72cad669d574"
            });

            window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
        </script>

        <!-- Fathom - beautiful, simple website analytics -->
        <script src="https://happy-intuitive.theminiindex.com/script.js" data-site="JXSVBMWZ" defer></script>
        <!-- / Fathom -->

        <style>
            :root {
                --app-primary-color: #18312d;
                --app-secondary-color: rgb(202, 227, 223);
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
                    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
                    "Helvetica Neue", sans-serif;
            }

            h1,h2{
                font-family: "Montserrat", sans-serif !important;
                font-weight: 500;
            }
            .btn{
                font-family: "Montserrat", sans-serif !important;
            }
            input.full-width{
                font-family: "Montserrat", sans-serif !important;
            }
            .lead{
                font-family: "Montserrat", sans-serif !important;
            }

            #heroContainer {
                align-items: center;
                display: flex;
                justify-content: center;
                height: 100%;
                width: 100%;
                margin-top: 7rem;
            }

            #hero {
                width: 100%;
                padding: 2rem;
                text-align: center;
                color: white;
            }

            #indexButtons {
                flex-wrap: wrap;
            }

            @@media (min-width: 850px) {
                #hero {
                    width: 80%;
                }

                #indexButtons {
                    flex-wrap: nowrap;
                }
            }

            #whatsNew {
                list-style-type: none;
                padding-inline-start: 0px;
                color: white;
                text-align: left;
                border-radius: 4px;
            }

            .small-badge {
                display: inline-block;
                padding: 0.25rem;
                margin: 0.25rem;
                margin-right: 1rem;
                border-radius: 0.25rem;
            }

            .badge-new {
                background-color: greenyellow;
                color: black;
            }

            .badge-bug {
                background-color: darkred;
                color: white;
            }

            .badge-warning {
                background-color: yellow;
                color: black;
            }

            .stack {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                max-width: 100%;
            }

            .stack > * {
                margin-top: 0;
                margin-bottom: 0;
            }

            .stack > * + * {
                margin-top: var(--space, 1.5rem);
            }

            body {
                font-size: 14px;
                font-weight: 400;
                background-color: var(--app-primary-color);
                padding: 0px;
                margin: 0px;
            }

            .btn {
                font-weight: bolder;
                display: inline-block;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                user-select: none;
                border: 1px solid transparent;
                padding: 0.5rem !important;
                border-radius: 0.25rem;
                margin: 4px;
                text-decoration: none;
                color: #000;
                background-color: var(--app-secondary-color);
            }

            .btn:hover {
                opacity: 50%;
            }

            .btn-block {
                width: 100%;
            }

            .full-width {
                width: 100%;
                margin: 0.5rem;
            }

            input.full-width {
                font-size: 1.25rem;
                width: 100%;
            }

            .row {
                display: flex;
                flex-direction: row;
                max-width: 100%;
            }

            .cluster {
                display: flex;
                flex-wrap: wrap;
                gap: var(--space, 1rem);
                justify-content: flex-start;
                align-items: center;
            }

            #SearchString {
                height: 42px;
                margin: 10px 10px 10px 0px;
                padding: 10px;
                box-sizing: border-box;
                border: 0px;
                border-radius: 4px;
                background-color: var(--app-secondary-color);
                color: black;
            }
        </style>
    </head>
    <body>
        <img style="position:absolute; left:20px; top: 20px; z-index:-1"width="40" height="40" src="/images/icons/apple-touch-icon-57x57.png" style="" />

        <div id="heroContainer">
            <div class="stack" id="hero">
                <h1>Welcome to <strong>The Mini Index</strong>!</h1>

                <p class="lead">
                    This is a <strong>crowd-sourced</strong> index of 3d printable files for minis, terrain tiles, and scatter terrain across
                    different websites for use with tabletop games like Dungeons and Dragons.
                    We have <b>@Model.MiniCount.ToString("N0") models</b> tagged with the important attributes of the mini in order to make it fast and easy to find exactly what you're looking for.
                </p>

                <form action="/Minis"style="margin-right:auto; width:100%;">
                    <div class="row">
                        <label for="nav-search"></label>
                        <input type="text" name="SearchString" id="SearchString" placeholder="Search..." class="full-width" style="padding:.5rem; margin-top:0px; margin-bottom:0px;"/>
                        <input type="submit" value="Search The Index" class="btn style-primary-border"/>
                    </div>                        
                </form>
                <div class="cluster" id="indexButtons">
                    <a class="btn btn-block style-secondary-border" href="/Minis">Browse the Index</a>
                    <a class="btn btn-block style-secondary-border" href="/Creators/Browse">Browse Creators</a> 
                    <a class="btn btn-block style-secondary-border" href="/Minis/Create" >Add a Mini</a>
                    <sp-theme scale="large" color="dark">
    <!-- Insert content requiring theme application here. -->
    <sp-button onclick="alert('I was clicked');">Click me!</sp-button>
    <!-- End content requiring theme application. -->
</sp-theme>
                </div>

                <div align="left">
                    <h2>What's new</h2>
                    <ul id="whatsNew">
                        <li><span class="small-badge badge-new">New</span>Pretty much every page has been re-designed to be faster, better, and easier for us to improve in the future!</li>
                        <li><span class="small-badge badge-warning">Warning</span>You may need to "hard" refresh by pressing Ctrl+Shift+R (Windows) or Cmd+Shift+R (Mac) to get some pages to look right.</li>
                        <li><span class="small-badge badge-new">New</span>Search results can now be ordered by relevancy or most recent.</li>
                        <li><span class="small-badge badge-bug">Bug Fix</span>Automatically added tags will now be removed from the "Add Tags" list.</li>


                        <!--<li><span class="small-badge badge-bug">Bug Fix</span> Fixed a crazy bugs.</li>-->
                        <!--<li><span class="small-badge badge-warning">Warning</span> Something is broken :(</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>