@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>We only store your email address to distinguish real users. Cookies are only used for logging in. We don't share anything with anyone but do gather a bit of usage data to understand usage patterns.</p>