/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
a:not(.btn):not(.nav-link):not(.badge):not(.navbar-brand) {
    color: #57BC90 !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.add-tagify{
    margin-bottom: 5px;
}

.Pending {
    background-color: #FFF5A6 !important;
}

.Unindexed {
    background-color: #FFF5A6;
}

.Rejected {
    background-color: #dc3545;
}

.card-img-top {
    object-fit:contain;
}

.Thingiverse {
    background-color: #3F8CFE !important;
    border-color: #3F8CFE !important;
}

.thumb-wrapper.Thingiverse span {
    background: transparent url('../images/SourceSiteIcons/Thingiverse.png') no-repeat;
}

.Patreon {
    background-color: #E85B46 !important;
    border-color: #E85B46 !important;
    color: white !important;
}

.MyMiniFactory {
    background-color: #3fbc9c !important;
    border-color: #3fbc9c !important;
    color: white !important;
}

.thumb-wrapper.MyMiniFactory span {
    background: transparent url('../images/SourceSiteIcons/MyMiniFactory.png') no-repeat;
}

.Shapeways {
    background-color: #FF4B5A !important;
    border-color: #FF4B5A !important;
    color: white !important;
}

.thumb-wrapper.Shapeways span {
    background: transparent url('../images/SourceSiteIcons/Shapeways.png') no-repeat;
}

.Gumroad {
    background-color: #198C8C !important;
    border-color: #198C8C !important;
    color: white !important;
}

.thumb-wrapper.Gumroad span {
    background: transparent url('../images/SourceSiteIcons/Gumroad.png') no-repeat;
}

.Cults3d {
    background-color: #822ef5 !important;
    border-color: #822ef5 !important;
    color: white !important;
}

.thumb-wrapper.Cults3d span {
    background: transparent url('../images/SourceSiteIcons/Cults3d.png') no-repeat;
}

.thumb-wrapper.Wargaming3d span {
    background: transparent url('../images/SourceSiteIcons/Wargaming3d.png') no-repeat;
}

.Wargaming3d {
    background-color: #41533b !important;
    border-color: #41533b !important;
    color: white !important;
}

.thumb-wrapper.DuncanShadow span {
    background: transparent url('../images/SourceSiteIcons/DuncanShadow.png') no-repeat;
}

.DuncanShadow {
    background-color: #4E2B07 !important;
    border-color: #4E2B07 !important;
    color: white !important;
}

.thumb-wrapper.PrusaPrinters span {
    background: transparent url('../images/SourceSiteIcons/PrusaPrinters.png') no-repeat;
}

.PrusaPrinters {
    background-color: #fa6831 !important;
    border-color: #fa6831 !important;
    color: white !important;
}

.thumb-wrapper.AtelierStoria span {
    background: transparent url('../images/SourceSiteIcons/AtelierStoria.png') no-repeat;
}

.AtelierStoria {
    background-color: #5F7E23 !important;
    border-color: #5F7E23 !important;
    color: white !important;
}

.thumb-wrapper {
    position: relative;
}

.thumb-wrapper img {
    width:100%;
    height:auto;
}

.thumb-wrapper span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    z-index: 100;
    background-position: center;
    background-size: 32px 32px;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.loading-spinner {
    background: transparent url('../images/loading.gif');
    background-repeat: no-repeat;
    background-size: 100%;
}
