/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
a:not(.btn):not(.nav-link):not(.badge):not(.navbar-brand) {
    color: #57bc90 !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-brand {
    font-family: "Montserrat", sans-serif;
}

.add-tagify {
    margin-bottom: 5px;
}

.Pending {
    background-color: #fff5a6 !important;
}

.Unindexed {
    background-color: #fff5a6;
}

.Rejected {
    background-color: #dc3545;
}

.card-img-top {
    object-fit: contain;
}

.Thingiverse {
    background-color: #3f8cfe !important;
    border-color: #3f8cfe !important;
}

.thumb-wrapper.Thingiverse span {
    background: transparent url("../images/SourceSiteIcons/Thingiverse.png")
        no-repeat;
}

.Patreon {
    background-color: #e85b46 !important;
    border-color: #e85b46 !important;
    color: white !important;
}

.MyMiniFactory {
    background-color: #3fbc9c !important;
    border-color: #3fbc9c !important;
    color: white !important;
}

.thumb-wrapper.MyMiniFactory span {
    background: transparent url("../images/SourceSiteIcons/MyMiniFactory.png")
        no-repeat;
}

.Shapeways {
    background-color: #ff4b5a !important;
    border-color: #ff4b5a !important;
    color: white !important;
}

.thumb-wrapper.Shapeways span {
    background: transparent url("../images/SourceSiteIcons/Shapeways.png")
        no-repeat;
}

.Gumroad {
    background-color: #198c8c !important;
    border-color: #198c8c !important;
    color: white !important;
}

.thumb-wrapper.Gumroad span {
    background: transparent url("../images/SourceSiteIcons/Gumroad.png")
        no-repeat;
}

.Cults3d {
    background-color: #822ef5 !important;
    border-color: #822ef5 !important;
    color: white !important;
}

.thumb-wrapper.Cults3d span {
    background: transparent url("../images/SourceSiteIcons/Cults3d.png")
        no-repeat;
}

.thumb-wrapper.Wargaming3d span {
    background: transparent url("../images/SourceSiteIcons/Wargaming3d.png")
        no-repeat;
}

.Wargaming3d {
    background-color: #41533b !important;
    border-color: #41533b !important;
    color: white !important;
}

.thumb-wrapper.DuncanShadow span {
    background: transparent url("../images/SourceSiteIcons/DuncanShadow.png")
        no-repeat;
}

.DuncanShadow {
    background-color: #4e2b07 !important;
    border-color: #4e2b07 !important;
    color: white !important;
}

.thumb-wrapper.PrusaPrinters span {
    background: transparent url("../images/SourceSiteIcons/PrusaPrinters.png")
        no-repeat;
}

.PrusaPrinters {
    background-color: #fa6831 !important;
    border-color: #fa6831 !important;
    color: white !important;
}

.thumb-wrapper.AtelierStoria span {
    background: transparent url("../images/SourceSiteIcons/AtelierStoria.png")
        no-repeat;
}

.AtelierStoria {
    background-color: #5f7e23 !important;
    border-color: #5f7e23 !important;
    color: white !important;
}

.thumb-wrapper {
    position: relative;
}

.thumb-wrapper img {
    width: 100%;
    height: auto;
}

.thumb-wrapper span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    z-index: 100;
    background-position: center;
    background-size: 32px 32px;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.loading-spinner {
    background: transparent url("../images/loading.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

.badge-True {
    background-color: green;
    color: white;
}

.badge-False {
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}

.new-tag {
    width: 0;
    height: 0;
    border-bottom: 60px solid #00201c;
    border-left: 80px solid transparent;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 99;
    -webkit-filter: drop-shadow(-2px -2px 4px #40a076);
    filter: drop-shadow(-2px -2px 4px #40a076);
}

.new-tag-span {
    position: relative;
    bottom: -29px;
    right: 55px;
    z-index: 100;
    width: 60px;
    text-align: center;
    font-size: 13px;
    font-family: arial;
    transform: rotate(-37deg);
    font-weight: 600;
    color: white;
    display: block;
}

.approved-time {
    display: none;
}
