h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight:500;
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.btn {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bolder;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem;
    border-radius: .25rem;
    margin: 0px;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: var(--app-primary-color);
    border-color: var(--app-secondary-color);
}

.btn-secondary {
    color: #000;
    background-color: var(--app-secondary-color);
    border-color: var(--app-primary-color);
}

.btn:hover{
    opacity: 50%;
}

.btn-block {
    display: inline-block;
    width: 100%;
    margin: .5rem;
}

.darkbg {
    color: #fff;
    background-color: var(--app-primary-color);
}

.darkbg a{
    color: #fff;
}

.navfooter {
    margin: -8px;
    padding: .5rem;
}

body{
    margin: 8px;
}

.xsmall {
    font-size: x-small;
}

.larger {
    font-size: larger;
    white-space: nowrap;
    line-height: 0.4em;
}

.small{
    font-size: small;
}

img{
    margin-right: .5rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 100;
}