@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="bounded-identity">
    <h1>Manage your account</h1>

    <div class="with-sidebar">
        <div>
            <partial name="_ManageNav" />
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
