:host {
  display: block;
  width: 100%;
}

.nav-link {
  height: 100%;
}

a {
  color: white;
  margin: 4px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#top-bar {
  width: 100%;
  display: flex;
}

#logotype {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px 20px 0px 0px;
}

#logotype img {
  margin: 0px 10px 0px 0px;
}

#xsmall {
  font-size: x-small;
}

#larger {
  font-size: larger;
  white-space: nowrap;
  line-height: 0.4em;
}

#right-aligned {
  display: flex;
  justify-content: right;
  width: 100%;
}

#nav-bar {
  padding: 8px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--app-primary-color);
}

.hide {
  display: none !important;
}

@media (max-width: 700px) {
  #nav-bar {
    flex-direction: column;
  }

  #logotype {
    margin: 0px 0px 0px 0px;
  }

  #hamburger {
    display: block;
    justify-content: right;
  }

  #right-aligned {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
