/*
https://blog.udemy.com/css-grid-vs-flexbox/

Flexbox is for one-dimensional layouts — anything that needs to be laid out in a straight line
(or in a broken line, which would be a single straight line if they were joined back together).

Grid is for two-dimensional layouts. It can be used as a low-powered flexbox substitute
(we’re trying to make sure that a single-column/row grid acts very similar to a flexbox),
but that’s not using its full power.

Flexbox is appropriate for many layouts, and a lot of “page component” elements,
as most of them are fundamentally linear. Grid is appropriate for the overall page layout
and for complicated page components that aren’t linear in their design.

http://howtocenterincss.com/

*/
:host {
  display: block;
}

h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.25em;
  line-height: 1em;
  white-space: normal;
}

h2 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 0.8em;
}

a {
  color: var(--app-primary-color);
  height: 100%;
}

.card {
  filter: drop-shadow(4px 4px 4px var(--app-primary-color));
  background-color: white;
  text-align: center;
  border-radius: 4px;
}

.card-thumbnail {
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 256px;
}

.card-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.source-site-img {
  max-width: 32px;
  padding: 8px 12px 8px 8px;
}

.mini-name {
  text-align: left;
  line-height: 0.4em;
  white-space: nowrap;
  overflow: hidden;
}
