@page
@model MiniIndex.Pages.Minis.CreateModel
@inject SignInManager<IdentityUser> SignInManager
@inject MiniIndex.Core.CoreServiceInfo serviceInfo

@{
    ViewData["Title"] = "Create";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container" style="padding:50px;">
        <div class="row">
            <div class="colo-md-12">
                <h1>
                    Add a mini
                </h1>
                <p font-size="smaller">
                    Thank you for submitting a mini! Just paste a link to a Thingiverse, Shapeways, or Gumroad model below to get started. Please make sure you take a few seconds once completed to add some useful tags.
                </p>
            </div>
        </div>
        <form action="/Minis/Create" method="post">
            @Html.AntiForgeryToken()
            <div class="row" align="center">
                <div class="col-md-8">
                    <h3><input type="text" name="URL" style="width:100%;" placeholder="Link to the mini's page" value="@Model.URL" /></h3>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary" value="Add Mini" style="width:100%;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small>Supported sites:</small>
                    <ul>
                        @foreach (var site in serviceInfo.SupportedSites)
                        {
                            <li><small>@site</small></li>
                        }
                    </ul>
                    <small>If there's a site you like to use that isn't listed here, feel free to request it on <a href="https://github.com/aluhrs13/TheMiniIndex">our GitHub page</a> or <a href="https://www.reddit.com/r/theminiindex/">our official subreddit</a>.</small>
                </div>
            </div>
        </form>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}