@page
@model MiniIndex.Pages.Minis.EditModel

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Edit";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if (User.IsInRole("Moderator"))
{
    <h2>Edit</h2>
    <hr />
    <div class="row">
        <div class="col-md-6" align="center">
            <a href="@Model.Mini.Link" class="btn btn-lg btn-primary">View On Thingiverse</a>
            <hr />
            <img src="@Model.Mini.Thumbnail" class="img-fluid rounded" />
        </div>
        <div class="col-md-6">
            <form method="post">

                <div class="form-group">
                    <input asp-for="Mini.Link" class="form-control" />
                </div>

                <div class="form-group">
                    <input asp-for="Mini.Thumbnail" class="form-control" />
                </div>

                <div class="form-group">
                    <input asp-for="Mini.ID" class="form-control" />
                </div>

                <div class="form-group">
                    <input asp-for="Mini.Cost" class="form-control" />
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="Mini.Status" class="control-label"></label>
                    </div>
                    <div class="col-md-9">
                        <select asp-for="Mini.Status" asp-items="Html.GetEnumSelectList<MiniIndex.Models.Status>().OrderBy(m => m.Text)" class="form-control">
                            <option selected="selected" value=""></option>
                        </select>
                        <span asp-validation-for="Mini.Status" class="text-danger"></span>
                    </div>
                </div>

                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Mini.Name" class="control-label"></label>
                        </div>
                        <div class="col-md-9">
                            <input asp-for="Mini.Name" class="form-control" readonly="readonly" />
                            <span asp-validation-for="Mini.Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="Mini.Creator" class="control-label"></label>
                        </div>
                        <div class="col-md-9">
                            <select asp-for="Mini.Creator.ID" class="form-control" asp-items="@Model.CreatorSL">
                                <option value="">-- Select Creator --</option>
                            </select>
                            <span asp-validation-for="Mini.Creator" class="text-danger" />
                        </div>
                    </div>

                    <input type="submit" value="Submit!" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
}