@{
}

<div class="darkbg navfooter">
    <div align="center">
        Everything you find here is thanks to someone who took the time to index and tag it. If you don't find what you're looking for, or just have some spare time, please try to improve the quality of The Mini Index by submitting a mini or improving tags.
    </div>
    <br />
    <div align="center">
        <div class="cluster">
            <a href="">Discord</a>
            <a href="">Github</a>
            <a href="">Feedback Form</a>
            <a href="">Reddit</a>
            <a href="/Privacy">Privacy</a>
        </div>
    </div>
</div>