@using MiniIndex.Models
@model Mini

<!-- TODO: Thumbnail CDN logic -->
<!-- TODO: "New"  logic -->
<!-- TODO: Pending and Rejected logic -->

<div class="card">
    <div>
        <a href="/Minis/Details?id=@Model.ID">
            <img class="card-thumbnail" src="@Model.Thumbnail" width="314" height="236" />
        </a>
    </div>
    <div class="card-text">
        <div class="mini-name">
            <h3>@Model.Name</h3>
            <h4>
            by <a style="color:var(--app-primary-color)" href="/Creators/Details/?id=@Model.Creator.ID">@Model.Creator.Name</a>
            </h4>
        </div>
    </div>
</div>