<div class="switcher darkbg navfooter">
    <div class="row" style="width: 12ch; margin: 0px 20px 0px 0px;">
        <a href="/">
            <img style="margin-right: .5rem;"width="40" height="40" src="https://beta.theminiindex.com/static/media/logo.6e92ad4f.svg" />
        </a>

        <div class="montserrat">
            <span class="xsmall">THE</span>
            <br />
            <span class="larger">MINI INDEX</span>
        </div>
    </div>
    <div class="switcher">
        <div class="center"><a class="btn" href="/Minis">Minis</a></div>
        <div class="center"><a class="btn" href="/Creators/Browse">Creators</a></div>
        <div class="center"><a class="btn" href="/Minis/Create">Add a Mini</a></div>
        <div class="center"><a class="btn" href="/Identity/Account/Register">Register</a></div>
        <div class="center"><a class="btn" href="/Identity/Account/Login">Login</a></div>
    </div>
</div>