:root {
  --app-primary-color: #18312d;
  --app-secondary-color: rgb(202, 227, 223);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif !important;
}
