@page
@inject SignInManager<IdentityUser> SignInManager
@model MiniIndex.IndexModel


@{
    ViewData["Title"] = "Favorite Minis";
}
<h1>Favorite Minis</h1>

@if (Model.Starred.Count() == 0)
{
    <div align="center">
        <h1>Your favortie Minis will show up here!</h1>
        <hr />
        <h2>Go try favoriting one!</h2>
    </div>
}
else
{
    <div class="grid" id="gallery">
        @foreach (var mini in Model.Starred)
        {
            @await Html.PartialAsync("_MiniPartial", mini.Mini)
        }
    </div>
}
