@page
@model MiniIndex.Pages.Errors._400Model
@{
    ViewData["Title"] = "Unknown Error";
}
    <div align="center">
        <h1>Unknown Error</h1>
        <h3>
            Something went wrong trying to load this page.
        </h3>
        <p>
            We've logged this so we can take a look at fixing it. Feel free to click "Feedback" above and use one of those methods to let us know what you were trying to do, as that can help us troubleshoot.
        </p>
    </div>