@page
@model MiniIndex.Pages.Errors._404Model
@{
    ViewData["Title"] = "404 Not found";
}
    <div align="center">
        <h1>404 - Not Found</h1>
        <h3>
            The Mini or Creator you're looking for couldn't be found
        </h3>
        <p>
            We've logged this so we can take a look, but if you think something went wrong on our side like you clicked a link and it brought you here please click "Feedback" above and use one of those methods to let us know!
        </p>
    </div>

