@model MiniIndex.Minis.BrowseModel
@using Anaximander.Linq
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Browse Minis";

    int pageRangeSize = 3;

    var pagesToLink = Enumerable.Range(1, Model.Minis.TotalPages)
        .Where(i => i <= pageRangeSize || Math.Abs(Model.Minis.PageIndex - i) <= pageRangeSize || Math.Abs(Model.Minis.TotalPages - i) < pageRangeSize)
        .Distinct()
        .OrderBy(x => x)
        .BoxWhile((a, b) => b - a == 1);
}

@section Scripts
{
    <environment include="Development,">
        <script src="~/js/latest.js" defer></script>
    </environment>

    <environment include="Staging">
        <script src="~/dist/latest.entry.js" defer></script>
    </environment>

    <environment include="Staging, Development">
        <script type="module" src="~/dist/tags.entry.js" defer></script>
        <link rel="stylesheet" href="~/dist/tags.css">
    </environment>

    <environment include="Production">
        <script src="https://miniindex.azureedge.net/latest.entry.js" defer></script>
        <script type="module" src="https://miniindex.azureedge.net/tags.entry.js" defer></script>
        <link rel="stylesheet" href="https://miniindex.azureedge.net/tags.css">
    </environment>
}

<div>
    <h1>Search the Index</h1>

    <div>
        @if (Model.ShowRateResults)
        {
            <div>
                <h2>Happy with your search results?</h2>
                Please take a second to <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAYEBbR1URTIxTVpVOVdBUDFHUkhHR1RFT1RGSzZSSi4u">rate the results</a> below and give us any feedback.
            </div>
        }

        <div>
            @await Html.PartialAsync("MiniSearchView", Model.SearchModel)
        </div>

        <div>
            @if (String.IsNullOrWhiteSpace(Model.SearchModel.SearchString))
            {
                <h2>Most Recent Results</h2>
            }
            else
            {
                <h2>Most Relevant Results</h2>
            }
            @await Html.PartialAsync("MiniListView", Model.Minis)
        </div>
    </div>

    <div style="text-align: center; margin: 16px">
        <button href="#" onclick="nextPage()" style="width: 90%">Next Page</button>
    </div>
</div>