@model MiniIndex.Minis.BrowseModel
@using Anaximander.Linq
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    if(Model.Minis.TotalPages == 1){
        ViewData["Title"] += Model.Minis.Count.ToString("N0");
    }else{
        ViewData["Title"] += (Model.Minis.TotalPages * Model.Minis.PageSize).ToString("N0");
    }

    if(!string.IsNullOrEmpty(Model.SearchModel.SearchString)){
        ViewData["Title"] += " " + Model.SearchModel.SearchString;
    }
    ViewData["Title"] += " Minis";
}

@section Scripts
{
    <environment include="Development">
        <script type="module" src="~/js/latest.js"></script>
         <script type="module" src="~/dist/tags.entry.js" defer></script>
         <link rel="stylesheet" href="~/dist/tags.css">
    </environment>

    <environment include="Staging">
        <script src="~/dist/latest.entry.js"></script>
        <script type="module" src="~/dist/tags.entry.js" defer></script>
        <link rel="stylesheet" href="~/dist/tags.css">
    </environment>


    <environment include="Production">
        <script src="https://miniindex.azureedge.net/latest.entry.js"></script>
        <script type="module" src="https://miniindex.azureedge.net/tags.entry.js" defer></script>
        <link rel="stylesheet" href="https://miniindex.azureedge.net/tags.css">
    </environment>
}

<div class="cluster style-secondary" id="secondary-nav">
    <div class="row">
        <div class="montserrat">
            <span class="xsmall">ADVANCED</span>
            <br />
            <span class="larger">SEARCH</span>
        </div>
    </div>

    <div>
        <input type="checkbox"
                id="FreeOnly"
                name="FreeOnly"
                value="true"
                form="searchForm"
                @(Model.SearchModel.FreeOnly ? "checked" : "")
        >
        <label for="FreeOnly">Only Free Minis</label>
        <br/>
        <label for="SortType">Sort by: </label>
        <select form="searchForm" name="SortType" id="SortType">
            <!option value="relevant" @(Model.SearchModel.SortType=="relevant" ? "selected" : "")>Relevant</>
            <!option value="newest" @(Model.SearchModel.SortType=="newest" ? "selected" : "")>Newest</>
        </select>
    </div>

    <div style="margin-right:auto;">
        Filter by tags:<br/>
        <input form="searchForm" id="tagsInput" type="text" placeholder="Find tags..." />
        <input form="searchForm" id="tagsValue" name="Tags" type="hidden" value="@Model.SearchModel.Tags" />
    </div>

    <div>
        <input type="submit" value="Apply Changes" form="searchForm" class="btn style-primary-border" />
    </div>
</div>

@if (Model.ShowRateResults)
{
    <div class="card" style="padding-left:1rem; padding-bottom:1rem;">
        <h2>Happy with your search results?</h2>
        Please take a second to <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAYEBbR1URTIxTVpVOVdBUDFHUkhHR1RFT1RGSzZSSi4u">rate the results</a> below and give us any feedback.
    </div>
}
<div>
    @await Html.PartialAsync("MiniListView", Model.Minis)
</div>

@if(Model.Minis.HasNextPage){
    <div style="text-align: center; margin: 16px">
        <a href="#" id="nextPageBtn" class="btn btn-block style-primary-border">Next Page</a>
    </div>
}
