@model MiniIndex.Minis.MiniSearchModel

<div class="container">
    <div class="col form">
        @using (Html.BeginForm(FormMethod.Get))
        {
            <div class="row form-group">
                @Html.LabelFor(x => x.SearchString, "Search")
                @Html.TextBoxFor(x => x.SearchString, new { @class = "form-control col", placeholder = "Search for..." })
            </div>

            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(x => x.Tags, "Tags")
                </div>
                <div class="row">
                    @Html.DropDownListFor(x => x.Tags, Model.TagOptions, null,
                        new
                        {
                            id = "selectizedinput",
                            @class = "col",
                            placeholder = "Find tags...",
                            multiple = true
                        })
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        }
    </div>
</div>