@model MiniIndex.Minis.SearchParametersModel

<div class="container" style="padding:25px;">

    @using (Html.BeginForm(FormMethod.Get))
    {
        @Html.EditorFor(x => x.SearchString)
    }
</div>