:host {
  display: block;
}

.start {
  color: white;
  background-color: var(--app-primary-color);
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
}

:hover {
  opacity: 0.6;
}

.disabled {
  opacity: 0.6;
}

.load {
  opacity: 0.6;
}

.btn {
  padding: 8px;
  text-decoration: none;
  color: white;
  border: none;
  transition-duration: 0.2s;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.approve {
  background-color: green;
  border-radius: 4px 4px 0px 0px;
}

.visible {
  border-radius: 4px 4px 0px 0px;
  background-color: darkgoldenrod;
}

.deny {
  background-color: darkred;
  border-radius: 0px 0px 4px 4px;
}
