@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Moderator"))
{
    <div class="cluster style-secondary" id="secondary-nav">
        <div class="row">
            <div class="montserrat">
                <span class="xsmall">MODERATOR</span>
                <br />
                <span class="larger">TOOLS</span>
            </div>
        </div>

        <div class="cluster">
            <div class="center"><a class="btn style-secondary" asp-page="./Index">Pending Minis</a></div>
            <div class="center"><a class="btn style-secondary" asp-page="./Unindexed">Unindexed Minis</a></div>
            <div class="center"><a class="btn style-secondary" asp-page="./PendingTags">Pending Tags</a></div>
            <div class="center"><a class="btn style-secondary" asp-page="./TagManager">Manage Tags</a></div>
            <div class="center"><a class="btn style-secondary" asp-page="./ManageCreators">Manage Creators</a></div>
        </div>
    </div>

    <h1>Moderator Dashboard - @ViewData["Title"]</h1>
    <div>
        @RenderBody()
    </div>
}

@section Scripts
{
    <environment include="Development, Staging">
        <script type="module" src="~/dist/admin.entry.js" defer></script>
    </environment>

    <environment include="Production">
        <script type="module" src="https://miniindex.azureedge.net/admin.entry.js" defer></script>
    </environment>

    <script type="module" src="~/components/miniindex-components/miniindex-components.esm.js" async></script>
    <script nomodule src="~/components/miniindex-components/miniindex-components.js" async></script>
    <link rel="stylesheet" href="~/components/miniindex-components/miniindex-components.css" />

    @RenderSection("Scripts2", required: false)
}