<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.MinisNavClass(ViewContext)" id="minis" asp-page="./Index">Pending Minis</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PendingTagsNavClass(ViewContext)" id="tagStream" asp-page="./PendingTags">Pending Tags</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.TagManagerNavClass(ViewContext)" id="email" asp-page="./TagManager">Manage Tags</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.TagPairManagerNavClass(ViewContext)" id="tagPairs" asp-page="./TagPairManager">Manage Tag Pairs</a></li>
</ul>
