<ul>
    <li><a asp-page="./Index">Pending Minis</a></li>
    <li><a asp-page="./PendingTags">Pending Tags</a></li>
    <li><a asp-page="./TagManager">Manage Tags</a></li>
    <li><a asp-page="./TagPairManager">Manage Tag Pairs</a></li>
</ul>
