@page
@model MiniIndex.Pages.Admin.CreatorManagerModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Manage Creators";
    ViewData["ActivePage"] = ManageNavPages.CreatorManager;
}

@if (User.IsInRole("Moderator"))
{
    <h4>Creator List</h4> 

    <table class="table">
        <thead>
            <tr>
                <th>
                    Creator Name
                </th>
                <th>
                    Mini Count
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Creator)
            {
                <tr>
                    <td>
                        <a asp-page="/Creators/Details" asp-route-id="@item.Key.ID">
                            @item.Key.Name
                        </a>
                    </td>
                    <td>
                        @item.Count()
                    </td>
                </tr>
            }
        </tbody>
    </table>
}