@page
@model MiniIndex.Pages.Admin.TagManagerModel

@{
    ViewData["Title"] = "Manage Tags";
}

@if (User.IsInRole("Moderator"))
{
    <table>
        <thead>
            <tr>
                <th>Tag Name</th>
                <th>Category</th>
                <th>Count</th>
                <th>View Tagged Minis</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TagListItem item in Model.Tag)
            {
            <tr id="@item.Tag.ID">
                <td>
                    <a href="/Tags/Manage?id=@item.Tag.ID">
                        @item.Tag.TagName
                    </a>
                </td>
                <td>
                    @item.Tag.Category
                </td>
                <td>
                    @item.Count
                </td>
                <td>
                    <a href="/Minis/?Tags=@item.Tag.TagName">View Minis</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
