@page
@model MiniIndex.Pages.Admin.TagPairManagerModel

@{
    ViewData["Title"] = "Tag Pair Manager";
    ViewData["ActivePage"] = ManageNavPages.TagPairManager;
}

@if (User.IsInRole("Moderator"))
{
    <h4>Tag Pairs</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Tag 1</th>
                <th>Type</th>
                <th>Tag 2</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TagPairs)
            {
                <tr id="@item.ID">
                    <td>
                        @Html.DisplayFor(modelItem => item.Tag1.TagName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tag2.TagName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}